/*
*
* @author Isabela Lobato
* @version 0.1
*/

/* ==================== layout ================= */
html, body, .capa{
	height: 100%;
}


body {
	background: url('images/fundo309.jpg'); 
	background-size: 100%;
	background-attachment: fixed;
	font-family: Verdana, Arial, sans-serif;
}

header {
	padding-bottom: 160px;
}

footer {
	padding-top: 10px;
	padding-bottom: 8px;
	background: black;
	color: white;
	text-align: center;
}

footer p{
	margin-top: 4px;
}



.sing-up-page {
	background: url('images/cadastro2.jpg');
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
}

.user-page {
	background: url('images/fundo8.jpg');
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
}

.capa-indexusuario{
	background:url('images/fundo10.jpg');
	padding-bottom: 80px;
}

.capa-perfil{
	background:url('images/fundo10.jpg');
	padding-bottom: 80px;
}

/* -- Barra de navegação HOME -- */
.img-logo{
	height: 40px;
	width: 175px;
	background: url('images/logonuts2.png') no-repeat;
	display: block;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.4);
	border: none;
}

.navbar-brand{
	padding: 6px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #FF7F50;
}

/* -- Barra de navegação PERFIL USUÁRIO -- */

nav.navbar-transparente-user{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.4);
	border: none;
}

.divisor-user{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse-user .navbar-nav>li>a{
	color: white;
}

.navbar-inverse-user .navbar-nav>li>a:hover{
	color:  #FF6347;
}

/* -- MODAL -- */




/* -- Imagem de capa -- */

.capa {
	display: table;
	width: 100%;
	padding-bottom: 150px;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}


.perfil {
	padding-left: 30px;
	padding-top: 120px;
	display: table;
	width: 100%;

}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}


/* ==== botões ==== */
.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius:500px;
	padding: 10px 35px;
	transition: background 0.4s, color 0.4s;
}

.btn-marrom {
	border:2px solid white;
}

.btn-marrom:hover {
	background-color: black;
	color: white;
}

.btn-white {
	border:2px solid white;
}

.btn-white:hover {
	background-color: black;
	color: white;
}

.btn-cadastro {
	border-radius: 300px;
	-webkit-border-radius: 300px;
	-moz-border-radius:300px;
	padding: 5px 10px;
	transition: background 0.4s, color 0.4s;
}


.btn-login {
	color: black;
	background: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius:400px;
	padding: 5px 10px;
	transition: background 0.4s, color 0.4s;
}


.btn-cancelar {
	color: white;
	background: black;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	padding: 2px 5px;
	transition: background 0.4s, color 0.4s;
}

.btn-contato {
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius:500px;
	padding: 4px 25px;
	transition: background 0.4s, color 0.4s;
}

.btn-analise-cinza {
	background: rgba(0, 0, 0, 0.4);
}

.btn-analise-cinza:hover {
	background: rgba(0, 0, 0, 0.8);
	color: white;
}

.btn-analise {
	text-align: center;
	color: white;
	border: none;
	padding-right: 385px;
	padding-left: 445px;
	padding-top: 10px;
	padding-bottom: 15px;
	transition: background 0.4s, color 0.4s;
	/* superior, direito, inferior e esquerdo */
}

.btn-avançado {
	text-align: center;
	color: white;
	border-radius: 100px;
}

.btn-border {
	border: 2px solid white;
}

.btn-border:hover {
	background-color: white;
	color: black;
}

section.flat button {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  width: 1100px; 
  height: 100px;
  text-align: center;
  position: absolute;
  left: 20px;
}

section.flat button:hover,
section.flat button.hover {
  background: rgba(0, 0, 0, 0.8);
}

section.flat button:active,
section.flat button.active {
  background-color: white;
}


.btn-alterações {
	background: transparent;
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius:500px;
	padding: 5px 15px;
	transition: background 0.4s, color 0.4s;
}

.btn-darkviolet:hover {
	color: #FF7F50;
}

.btn-primary {
	text-decoration: none;
	background-color: #FF7F50; 
	border-color: #FF7F50;
	border: 1px;
}

.btn-primary:hover {
	text-decoration: none;
	background-color: #FF6347; 
	border-color: #FF6347;
	border: 1px;
}

.page-header {
	border:none;
	padding-bottom: 10px;

}

/* ==== CONFIGURAÇÕES DO USUÁRIO ==== */
.page-configurações {
	color: white;
	width: 100%;
	color: white;
	text-align: center;
}

.configurações-formulario{
	margin: 0 auto;
	color: white;
}

#configurações{
	background: rgba(0, 0, 0, 0.6);
	padding-bottom: 40px;
}

/* ==== SENHA ==== */
#senha-configurações{
	background: rgba(0, 0, 0, 0.6);
	padding-bottom: 0px;
}

.senha-formulario{
	margin: 0 auto;
	color: white;
}	

.page-senha {
	color: white;
	width: 100%;
	color: white;
	text-align: center;
}

.btn-senha {
	background: black;
	margin-top: 3px;
	color: white;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	padding: 5px 15px;
	transition: background 0.4s, color 0.4s;
}


/* ==== PERFIL USUÁRIO ==== */
#s-analise {
	color: white;
	background: rgba(0, 0, 0, 0.4);
	padding-bottom: 100px;
}


#s-historico {
	color: white;
	background: rgba(0, 0, 0, 0.6);
	padding-bottom: 100px;
}

#s-configuracoes {
	color: white;
	background: rgba(0, 0, 0, 0.8);
	padding-bottom: 73px;
}

.analise {
	text-align: center;
}

.historico {
	text-align: center;
}

.configuracoes {
	text-align: center;
}

#perfil {
	margin-top: 170px;
}

a:link{
	text-decoration: none;
}

/* ==== avaliação nozes ==== */
.estrelas input[type=radio] {
  display: none;
  background-image: url('images/icone-apagado')
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}
.estrelas {
	text-align: center;
}

/* ==== CADASTRO ==== */

.cadastro {
	text-align: center;
	padding-top: 50px;
	color: white;
}


.cadastro-formulario {
	color: #FF7F50;
}

#cadastro {
	background-size: 100%;
	background: #D8BFD8;
	padding-top: 10px;
	padding-bottom: 40px;
}

.botao {
	padding: 0px 0px 0px 470px;
}


/* ==== GRAFICO ==== */
#grafico {
	color: white;
	text-align: center;
	margin-top: 130px;
	padding-bottom: 10px;
	background: rgba(0,0,0,0.8);
	
}

/* ==== HISTORICO ==== */
.o-historico {
	color: white;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 10px 0px 20px 0px;
}

/* ==== ANALISE DE REDE ==== */

#analise-rede{
	margin-top: 110px;
}

.o-analise {
	color: white;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 10px 0px 40px 0px;
}

.a-mapa{
	border: 2px solid white;
}

/* ==== TABELAS ==== */
#tabelas{
	color: white;
	background: rgba(0,0,0,0.5);
	margin: 0 auto;
	display: table; 
}	

.tabelas-titulos{
	text-align: center;
}

.tabelas-subtitulos{
	text-align: center;
}

.table-hover{
	text-decoration: none;
}

.table-hover tbody tr:hover > th {
  background-color: #FF7F50;
}

.table-hover tbody tr:hover > td {
  background-color: #FF7F50;
}


/* ==== secao nos ==== */
#nos {
	background: rgba(0,0,0,0.8);
	padding-top: 80px;
	padding-bottom: 80px;
}

.albuns{
	padding: 10px 0px 10px 180px;
}

/* ==== secao recursos ==== */
#recursos {
	padding-top: 80px;
	padding-bottom: 80px;
}

/* ==== contato ==== */
#contato {
	background: rgba(0, 0, 0, 0.8);
	padding-bottom: 30px;
}	


.botao-contato {
	margin-left: 275px;
}

#Mensagem{
	width: 385px; 
	height: 150px; 
	resize: none;
}


/* ==== rodape ==== */
#rodape{
	padding-top: 15px;
	padding-bottom: 10px;
	background: black; 
}



/* ==================== tipografia ================== */

h1{
	font-size: 40px;
	font-weight: 900px;
	letter-spacing: -1px;
	margin-bottom: 50px;
}

h2{
	font-size: 50px;
	font-weight: 700px;
	letter-spacing: -3px;
	padding-bottom: 10px;
}

#nos h2, #nos p{
	color: white;
}

#nos h2{
	padding-bottom: 20px;
}

#recursos h2{
	color: white;
	font-weight: bold;
}

#recursos h3{
	color: #FF7F50;
	font-weight: bold;
}

#recursos p{
	color: white;
}


#contato h3{
	margin-top: 30px;
	color: #FF7F50;
}

#contato p{
	color:white;
	font-weight: bold;
	margin-top: 15px; 
}

#contato h2{
	color: white;
	font-weight: bold;
	margin-left: 13px;
}

#rodape p{
	color:white;
	text-align: center
}

#cadastro h1{
	color: purple;
	padding: 0px 30px 0px 380px;
}

#s-analise h2, a{
	color: white;
}

#s-historico h2, a{
	color: white;
}

#s-configuracoes h3, a{
	color: white;
}

#analise-rede h4{
	color: #FF7F50;
}

#page-configurações h2{
	text-align: center;
}

.tabelas-titulos h4{
	color: #FF7F50;
}



